/*Typography*/
body { background-color: #496D8F; font-family: "Karla", sans-serif; }

h1, h2, h3, h4, h5 { font-family: "Rubik", sans-serif; }

/* Color Swaps */
.bg-lightest-blue { background-color: #496D8F; }
.bg-blue { background-color: #496D8F; }
.bg-dmod-light-blue { background-color: #496D8F; }
.bg-transparent { background-color: transparent; }
.blue { color: #496D8F; }
.navy { color: #496D8F; }
.bg-dmod-purple { color: #496D8F }

.white { color: white; }

/* Gradients */
.bg-gradient-blue {
  background-image: linear-gradient(to bottom, #370091, #0A122A)
}
.bg-gradient-white {
  background-image: linear-gradient(to bottom, #370091, #0A122A)
}
